// Place all the styles related to the movements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  padding: 10px;
  background-color: #7cbc9a;
}

#header {

}

#wrapper {
  margin: 0 auto;
  #background-color: #6cf;
  width: 500px;
  text-align: center;
  #border: solid 1px #6cf;
}

#movement-table {
  background-color: #e8e7e2;
  padding: 10px;
  margin: 20px;
  p {
    text-align: left;
    border-bottom: solid thin;
  }
}

#record {
  background-color: #b1e2d6;
  padding:10px;
  margin: 10px;
  border-radius: 1em;
  p {
    text-align: left;
    border-bottom: none;
  }

  .record-time {
    text-align: right;
    font-size: 75%;
  }
}

#footer {
  font-size: 80%;
  padding-bottom: 20px;
}
